Link to competition: https://www.drivendata.org/competitions/57/nepal-earthquake/page/136/
<iframe src=”https://www.drivendata.org/competitions/57/nepal-earthquake/page/136/></iframe>

In [48]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

In [49]:
train = pd.read_csv("../data/train_values.csv")
test = pd.read_csv("../data/test_values.csv")
train.drop('building_id', axis=1, inplace=True)
train.head(10)

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
1,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,0
2,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
3,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
4,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,0
5,8,558,6089,2,10,9,5,t,r,n,...,1,0,0,0,0,0,0,0,0,0
6,9,475,12066,2,25,3,4,n,r,n,...,0,0,0,0,0,0,0,0,0,0
7,20,323,12236,2,0,8,6,t,w,q,...,0,0,0,0,0,0,0,0,0,0
8,0,757,7219,2,15,8,6,t,r,q,...,0,0,0,0,0,0,0,0,0,0
9,26,886,994,1,0,13,4,t,i,n,...,0,0,0,0,0,0,0,0,0,0

In [50]:
test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,t,r,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,t,r,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,t,r,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,t,r,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
fig, ax = plt.subplots(figsize=(20,20)) 
sn.heatmap(train.corr())